Flask==2.3.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.2
Flask-SocketIO==5.3.6
python-dotenv==1.0.0
SQLAlchemy==2.0.21
Werkzeug==2.3.7
Flask-WTF==0.15.1
geopy==2.2.0
Pillow==10.0.1
python-socketio==5.9.0
eventlet==0.33.3
googlemaps==4.6.0
gunicorn==21.2.0
psycopg2-binary==2.9.9
requests==2.31.0
